@model FootballTeamsApp.Models.Team

@{
    Layout = null;
}

<h1>@Model.team_name - Jogadores</h1>
<img src="@@Model.team_badge" alt="Emblema do time" width="100" />

<table>
    <thead>
        <tr>
            <th>Foto</th>
            <th>Nome</th>
            <th>Número</th>
            <th>Posição</th>
            <th>Idade</th>
            <th>Gols</th>
            <th>Assistências</th>
            <th>Partidas Jogadas</th>
            <th>Jogador com Lesão?</th>
            <th>Cartões Amarelos</th>
            <th>Cartões Vermelhos</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model.Players)
        {
            <tr>
                <td>
                    <img src="@player.player_image" alt="@player.player_name" width="50" />
                </td>
                <td>@player.player_name</td>
                <td>@player.player_number</td>
                <td>@player.player_type</td>
                <td>@player.player_age</td>
                <td>@player.player_goals</td>
                <td>@player.player_assists</td>
                <td>@player.player_match_played</td>
                <td>@player.player_injured</td>
                <td>@player.player_yellow_cards</td>
                <td>@player.player_red_cards</td>
            </tr>
        }
    </tbody>
</table>
